body {
  overflow: hidden;
  height: 100vh;
  display: grid;
  max-height: 100vh;
  grid-template-areas:
    "nav code task"
    "nav code term";
  grid-template-columns: 6rem 1fr 80ch;
  grid-template-rows: auto 1fr;
  --svg-color: #cdd6f4;
}
.CodeMirror {
  grid-area: code;
  font-size: 16px;
  margin: 0;
  height: auto;
  border-right: 0.125rem solid #11111b;
}
#terminal {
  grid-area: term;
  padding: 1em;
  min-height: 0;
}
#task {
  grid-area: task;
  padding: 1em;
  height: fit-content;
  border-bottom: 0.125rem solid #11111b;
  background: #1e1e2e;

  & > h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #a6adc8;

    & > .task {
      color: #cdd6f4;
    }
  }

  & > p {
    margin: 0;
    margin-bottom: 1rem;
  }

  & em {
    color: #a6e3a1;
  }

  & code {
    background: #313244;
    display: inline;
    padding: 0.5ch;
    margin: 0.5ch;
    min-width: 1ch;
    min-height: 1rem;
    font-family: inherit;
    border-radius: 0.25rem;
  }

  & > .buttons {
    height: fit-content;
    display: flex;
    gap: 1rem;
  }
}
nav {
  grid-area: nav;
  background: #181825;
  padding: 0rem;
  overflow: auto;

  & li {
    list-style: none;
  }
  & li.active > a {
    border-color: #181825;

    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --surface1: #45475a;
    --overlay0: #6c7086;
    --text: #cdd6f4;
    --text-visible: #cdd6f4;
    --subtext0: #a6adc8;
    --subtext1: #bac2de;
    --stroke: #11111b !important;
    --stroke-invisible: #11111b !important;
    --yellow: #f9e2af;
    --blue: #89b4fa;
    --sapphire: #74c7ec;
    --sky: #89dceb;
    --teal: #94e2d5;
    --green: #a6e3a1;
  }
  & li > a {
    display: block;
    background: #1e1e2e;
    width: 4rem;
    height: 4rem;
    border-radius: 0.62rem;
    border: 0.125rem solid #11111b;
    background-size: contain;
    color: transparent;
    transition: 0.2s ease-out;

    --base: #1e1e2e;
    --mantle: transparent;
    --crust: transparent;
    --surface1: #1e1e2e;
    --overlay0: #1e1e2e;
    --text: transparent;
    --text-visible: #cdd6f4;
    --subtext0: #1e1e2e;
    --subtext1: #1e1e2e;
    --stroke: #cdd6f4;
    --stroke-invisible: transparent;
    --yellow: #1e1e2e;
    --blue: #1e1e2e;
    --sapphire: #1e1e2e;
    --sky: #1e1e2e;
    --teal: #1e1e2e;
    --green: transparent;

    &:hover {
      transform: scale(0.95);
      border-color: #89dceb;
      --stroke: #89dceb;
      --text-visible: #89dceb;
    }

    & > svg {
      background-color: var(--base);
      border-radius: inherit;
      width: 100%;
      height: 100%;
    }
  }
  & ul {
    margin: 0;
    padding: 0.8rem;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
  }
}
a {
  color: #74c7ec;
}
